@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 400;
  src: url(./NotoSansJP-Regular.otf);
}
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 500;
  src: url(./NotoSansJP-Medium.otf);
}
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  src: url(./NotoSansJP-Bold.otf);
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url(./Montserrat-Black.ttf);
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url(./Montserrat-Bold.ttf);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top:78px;
}

body{
  @apply text-xl h-full leading-normal;
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
}

main{
  @apply h-full;
}

.footer-menu li a{
  position:relative;
}

.footer-menu li a::before{
  @apply bg-gray-300;
  position:absolute;
  content: '';
  transition:all 0.3s;
  left:0;
  bottom:0;
  width:0px;
  height:1px;
}
.footer-menu li a:hover::before{
  width:100%;
  transition: all 0.3s;
}

.anime-title b {
    color: #f0ecec;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #6e733b, 0 0 0.5em #1e1607, 0 0 0.1em #bd7e12, 0 10px 3px #000;
}

.skil b {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #454b28, 0 0 0.5em #111827, 0 0 0.1em #111827, 0 10px 3px #1b222e;
    color: #fff9;
}

.contact b {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #555847, 0 0 0.5em #555847, 0 0 0.1em #555847, 0 10px 3px #000000;
}

/* .anime-title b span{
  animation: blink linear infinite 2s;
}
.anime-title b span:nth-of-type(2){
  animation: blink linear infinite 3s;
} */

.anime-title-b{
  position:relative;
  z-index:1;
  padding:15px 15px 15px 0px;
  max-width: fit-content;
  border-bottom: 5px dotted skyblue;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

h1 {
  @apply font-black leading-tight tracking-wide text-4xl;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  @apply font-semibold leading-tight text-3xl mt-0 mb-2;
}
h3 {
  @apply font-semibold leading-tight text-2xl mt-0 mb-2;
}

p {
  @apply font-light leading-relaxed text-base text-gray-800 mt-0 mb-4;
}

.current{
  @apply border-solid border-2 border-amber-400;
}

.header-menu-hover{
  @apply duration-300;
}

.header-menu-hover:hover{
  @apply border-solid border-2 border-amber-400;
}

.overlay::after {
  @apply bg-gray-800/80;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  max-height: calc(100vh);
  height:100%;
  min-height:calc(100vh);
  content: "";
}
.max-h-smart{
  max-height: calc(100vh);
  height:100%;
  min-height:calc(100vh);
}

.arrow{
	position: relative;
	display: inline-block;
	padding: 0 0 0 16px;
	color: #000;
	vertical-align: middle;
	text-decoration: none;
	font-size: 15px;
}
.arrow::before,
.arrow::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}
.arrow::after{
  top:-9px;
    transition-duration: 0.8s;
    left: -18px;
    width: 18px;
    height: 18px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: rotate(135deg);
}
.arrow.open::after{
    transform: rotate(-45deg);
    top: auto;
    bottom: auto;
}

.bg-stripe{
  background: repeating-linear-gradient(-45deg, #fff, #fff 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 2px);
  padding:2px;
}

.transition-animation{
  transition:all 0.7s cubic-bezier(0.29, 0.54, 1, 2.54);
}

.bg-about{
  background-color: #111827;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23232324' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23535555'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-sliks{}

.bg-contact{
    background-color: #111827;
  background-image: linear-gradient(#2c2c2c 1px, transparent 0),
                    linear-gradient(90deg, #2c2c2c 1px, transparent 0);
  background-size: 40px 40px;
}

/* main {
  @apply min-h-screen flex flex-col justify-center items-center;
} */
/* progressbar */
.progress-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  max-width: 1180px;
  margin: 60px auto 40vh;
  resize: horizontal;
}

.progress-item {
  flex: 1;
  flex-basis: calc( 50% - 100px );
  max-width: 200px;
  position: relative;
  padding: clamp( 24px, 3.2vw, 48px);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.04) 100%);
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.28);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0 8px 26px -8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}
.progress-item:hover {
  transform: translate3d(0, -6px, 0) scale(1.04);
  box-shadow: 0 12px 32px -8px rgba(0, 0, 0, 0.6);
}

.progress-item__inner {
  position: relative;
}

.progress-svg {
  width: 100%;
  height: 100%;
}
.progress-svg circle {
  stroke-dasharray: 283;
  stroke-width: var(--stroke-width, 8);
}

.progress-background {
  fill: none;
  stroke: rgba(170, 170, 170, 0.3);
  stroke-width: 8;
}

.progress-bar {
  fill: none;
  stroke: var(--stroke-color, #00ccff);
  stroke-dashoffset: var(--stroke-dashoffset, 283);
  stroke-linecap: round;
  transform-origin: center;
  transform: rotate(var(--start-rotate, -90deg));
  transition: stroke-dashoffset var(--duration, 1.5s) ease-out;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: 200;
}

.progress-value {
  font-size: 2rem;
}

.progress-title {
  font-size: 1.12rem;
  margin-top: 20px;
  text-align: center;
}

@container (min-width: 920px) {
  .progress-item {
    flex-basis: 0%;
  }
}
@-webkit-keyframes scrolldown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(22px);
  }
}
@keyframes scrolldown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(22px);
  }
}
